/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
 	font-family: 'myoldrem';
 	src: url('myoldrem/myoldrem.ttf') format('truetype');
 }

 @font-face {
 	font-family: 'BirminghamElongated';
 	src: url('Birmingham/BirminghamElongated.ttf') format('truetype');
 }

 p {
 	font-family: 'BirminghamElongated';
  font-size: 20px;
 }

 input {
 	font-family: 'myoldrem';
 	font-size: 18px;
 }

 label {
	font-family: 'myoldrem';
	font-size: 22px;
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

h1 {
	font-family: 'BirminghamElongated';
  font-size: 48px;
}

.notifications {
  text-align: center;
}
